<!doctype html>
<html data-ng-app="TextClassifierApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <!--<script src="assets/js/angular.js"></script>-->
    <!--<script src="assets/js/classifier.js"></script>-->
  </head>
  <body>
    <div data-ng-controller="TextController">
      <label>Text:</label>
      <input type="text" data-ng-model="textToBeClassified" ng-change="classify()" placeholder="Text to be classified">
      <!-- <button data-ng-click="classify()"> Classify</button>-->
      <hr>
      <!-- <h1>{{textToBeClassified}}</h1> -->
      <h1> Category </h1> <h2 style="color:#57068C;">{{category}}</h2>
    </div>
  </body>
  <script>
    var app = angular.module("TextClassifierApp", []);
    //var bayes = new classifier.Bayesian();
    //bayes.train("cheap replica watches", 'spam');
    //bayes.train("I don't know if this works on windows", 'not');

    var clusters = {
                   'Equality': ['equality', 'education', 'gender', 'immigration',
                              'marriage', 'race', 'economic', 'access'],
                   'Human Rights': ['human rights', 'immigration', 'access to basic needs',
                                    'human trafficking', 'voting', 'abortion',
                                    'prison camps', 'death sentence', 'healthcare'],
                   'Health': ['health', 'GMOs', 'genetically', 'modified', 'organisms', 
                              'substance abuse', 'debt', 'industrialized farming',
                              'personal', 'obamacare', 'access', 'food desserts', 
                              'smoking', 'obesity', 'pesticides'],
                   'Democracy': ['democracy', 'government transparency', 'transparency', 'immigration',
                                 'democrats', 'politics', 'liberal', 'voting', 'freedom',
                                 'elections', 'constitution', 'republican', 'conservative',
                                 'third party', 'privacy from government', 'religion'],
                   'Politics': ['politics', 'constitution', 'congress', 'Democrats', 'third party',
                                'elections', 'foreign affairs', 'Republicans', 'voting',
                                'voting rights'],
                   'Nation': ['nation', 'terrorism', 'divided', 'American pride', 'military'],
                   'Economy': ['economy', 'made in the USA', 'national debt', 'jobs', 
                               'international relations', 'gov bailout', 'recession',
                               '99%', 'unemployment', 'gov support', 'budget cuts'],
                   'Environment': ['environment', 'climate change', 'gas prices', 'waste', 'environment',
                                   'water shortage', 'water', 'shortage', 'melting ice', 
                                   'melting ice caps', 'fossil fuels', 'electric cars',
                                   'endangered prices', 'renewable fuels', 'greenhouse gases'],
                   'Safety': ['safety', 'gang violence', 'gang', 'gun violence', 'military', 
                              'neighborhoods', 'violence', 'violence against women',
                              'protecting children', 'prisons'],
                   'Security': ['security', 'nuclear', 'nuclear weapons', 'access to basic needs',
                                'money', 'jobs', 'gun violence', 'privacy', 
                                'safe neighborhoods', 'social security', 'gov transparency',
                                'terrorism'],
                   'Military': ['military', 'terrorism', 'war', 'Afghanistan', 'gov spending',
                                'veteran', 'veterans', 'nuclear weapons'],
                   'Community': ['community', 'safe', 'supporting each other', 'unification', 
                                'clean-up', 'safe neighborhoods', 'revitalize'],
                   'Family': ['The American Family', 'family', 'safety', 'prosperity',
                              'traditions', 'marriage equality'],
                   'Society/Culture': ['society', 'culture', 'violence in media', 'mass media', 'religion',
                                       'homosexuality', 'self image issues',
                                       'justice system'],
                   'Education': ['education', 'debt', 'equal access', 'budget cuts', 'cost of higher edu',
                                 'cost of higher', 'teachers', 'standard tests', 
                                 'girls and women'],
                   'World': ['world', 'poverty', 'terrorism', 'starvation', 'Afghanistan', 
                             'disease', 'international relations', 'climate change',
                             'Syria'],
                   'Happiness': ['happiness', 'inner', 'family/friend'],
                   'Prosperity': ['peace', 'debt', 'international affairs', 'gov bailout',
                                  'jobs', 'money', 'economic mobility', '99%', 
                                  'industry', 'made in the USA'],
                   'Peace': ['peace', 'religion', 'Iraq', 'inner', 'Afghanistan', 'North Korea', 
                             'international relations', 'war', 'terrorism', 'Iran'],
                }

    function TextController($scope){
      $scope.classify = function() {
        //$scope.category = bayes.classify($scope.textToBeClassified);
        for (var key in clusters) {
          if (clusters.hasOwnProperty(key)) {
            var lowerCaseArray = clusters[key].map(function(value) {
                  return value.toLowerCase();
                }).sort();
            if (lowerCaseArray.indexOf($scope.textToBeClassified.toLowerCase()) >= 0){
              $scope.category = key;
            }
          }
       }
     };
   };
      app.controller('TextController', TextController);
  </script>
</html>
